<div>
	public
	<ui-view></ui-view>
	<div class="public_footer">
		<div class="public_footer_top">
			<ul>
				<a href="javascript:;"><li>家具首页</li></a>
				<a href="javascript:;"><li>关于家居</li></a>
				<a href="javascript:;"><li>家居产品</li></a>
				<a href="javascript:;"><li>门店信息</li></a>
				<a href="javascript:;"><li>网上商城</li></a>
				<a href="javascript:;"><li>售后服务</li></a>
				<a href="javascript:;"><li class="last_border">返回顶部</li></a>
			</ul>
		</div>
		<div class="public_footer_btm">
			<div class="public_footer_btm_or">
				<div class="public_footer_btm_fl">
					<p>晚安家居科技有限公司</p>
					<p>
						<span>地址：湖南省长沙市岳麓区车塘河路18号</span>
						<span class="public_margin">电话：400-8520-980 0731-88838421</span>
						<span>传真：0731-88838421</span>
					</p>
					<p>Copyright © 2014 goodnight.com.cn All Rights Reserved</p>
				</div>
				<div class="public_footer_btm_fr">
					<img src="../images/ewm.jpg" alt="" />
					<p>关注晚安家居</p>
				</div>
			</div>
		</div>
	</div>
</div>